.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 16px;
    background-color: #FFF;
}